@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* Globals */
span:focus{
    outline: 0;
}

button:focus{
    outline:0 !important;
}

body {
    background:#dbdcde !important;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 600;
    color:black;
}

.root-color {
    background:#dbdcde !important;
}

.titulos-pricipales {
    font-size: 10rem;
    font-weight: 700;
    letter-spacing: -13px;
    text-transform: none;
}

@media only screen and (max-width: 576px) {
    .titulos-pricipales {
        font-size: 70px;
        font-weight: 700;
        letter-spacing: -5px;
        text-transform: none;
    }
  }

.subtitulos {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -3px;
    text-transform: none;
}

p {
    font-size: 16px;
    line-height: 28px;
    font-style: normal;
    font-weight: 600;
}

.image-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap:0 10px;
    grid-auto-rows: 12px;
}

.image-list img{
    width:250px;
}

.wrap-img-gallery {
    position: relative;
    width: calc(98% - 18px);
}

.img-galery {
    display: block;
    width: 100%;
    height: auto;
}

.more-info {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    height: 100%;
    width:100%;
    opacity:0;
    transition: .5s ease;
    background: black;
}

.wrap-img-gallery:hover .more-info {
    opacity: .9;
}

.more-info a{
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.wrapGaleria{
    margin-top: 80px;
}

.redes-icon {
    background: black;
    color:white;
    padding: 5px;
    margin:1px;
    transition: .5s;
    cursor: pointer;
}

.redes-icon-footer {
    background: rgb(255, 255, 255);
    color:black;
    padding: 5px;
    margin:1px;
    transition: .5s;
    cursor: pointer;
}

.redes-icon:hover,
.redes-icon-footer:hover {
    background: rgb(239, 185, 25);
    color:white;
    padding: 5px;
    margin:1px;
    transition: .5s;
}

.form-custom {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0;
    color: black;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #495057;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bottom-send {
    font-weight: bold;
    color: white;
    background: black;
    border-radius: 0;
    border: 1px solid transparent;
}